.container {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--color-grey);
  border-radius: 2px;
  transition: border-color 0.3ms;
}

.container.focused {
  border-color: var(--color-text);
}

.input {
  padding: 10px 0;
  min-width: 200px;
  outline: none;
  border: none;
  font-size: 14px;
}

.startIconContainer {
  margin-left: 10px;
}

.endIconContainer {
  margin-right: 10px;
}
