.nav {
  min-width: 300px;
}

.bucketContainer {
  border-bottom: 1px solid var(--color-grey);
}

.bucket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 20px;

  cursor: pointer;
  transition: transform var(--delay-transform);
}

.bucket:hover {
  transform: scale(1.01);
}
