.container {
  display: flex;
  align-items: center;
  padding: 0px 6px;
  gap: 4px;
  border: 1px solid var(--color-grey);
  border-radius: 2px;
  transition: border-color var(--delay-transform);
}

.container.focused {
  border-color: var(--color-text);
}

.textarea {
  padding: 10px 0;
  min-width: 200px;
  width: 100%;
  height: 140px;
  outline: none;
  border: none;
  font-size: 14px;
  resize: none;
}

.textarea::placeholder {
  color: var(--color-grey);
  transition: color 300ms;
}

.textarea.focused::placeholder {
  color: var(--color-text);
}

.startIconContainer {
  margin-left: 10px;
  color: var(--color-grey);
  transition: color 300ms;
}

.endIconContainer {
  margin-right: 10px;
  color: var(--color-grey);
  transition: color 300ms;
}

.endIconContainer.focused,
.startIconContainer.focused {
  color: var(--color-text);
}
